In [55]:
import pandas as pd
df = pd.read_csv("pima_diab.csv")
df.head(20)

,Unnamed: 0,preg,plas,pres,skin,insu,mass,pedi,age,class
0,0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50,tested_positive
1,1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31,tested_negative
2,2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32,tested_positive
3,3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21,tested_negative
4,4,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33,tested_positive
5,5,5.0,116.0,74.0,NaN,NaN,25.6,0.201,30,tested_negative
6,6,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26,tested_positive
7,7,10.0,115.0,NaN,NaN,NaN,35.3,0.134,29,tested_negative
8,8,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53,tested_positive
9,9,8.0,125.0,96.0,NaN,NaN,NaN,0.232,54,tested_positive
10,10,4.0,110.0,92.0,NaN,NaN,37.6,0.191,30,tested_negative
11,11,10.0,168.0,74.0,NaN,NaN,38.0,0.537,34,tested_positive
12,12,10.0,139.0,80.0,NaN,NaN,27.1,1.441,57,tested_negative
13,13,1.0,189.0,60.0,23.0,846.0,30.1,0.398,59,tested_positive
14,14,5.0,166.0,72.0,19.0,175.0,25.8,0.587,51,tested_positive
15,15,7.0,100.0,NaN,NaN,NaN,30.0,0.484,32,tested_positive
16,16,NaN,118.0,84.0,47.0,230.0,45.8,0.551,31,tested_positive
17,17,7.0,107.0,74.0,NaN,NaN,29.6,0.254,31,tested_positive
18,18,1.0,103.0,30.0,38.0,83.0,43.3,0.183,33,tested_negative
19,19,1.0,115.0,70.0,30.0,96.0,34.6,0.529,32,tested_positive

In [56]:
# แสดงจำนวนจากการนับจำนวนแถว
df.groupby("class").size()

class
tested_negative    496
tested_positive    264
dtype: int64

In [57]:
df.drop("Unnamed: 0", axis=1 , inplace=True)
df

     preg   plas  pres  skin   insu  mass   pedi  age            class
0     6.0  148.0  72.0  35.0    NaN  33.6  0.627   50  tested_positive
1     1.0   85.0  66.0  29.0    NaN  26.6  0.351   31  tested_negative
2     8.0  183.0  64.0   NaN    NaN  23.3  0.672   32  tested_positive
3     1.0   89.0  66.0  23.0   94.0  28.1  0.167   21  tested_negative
4     NaN  137.0  40.0  35.0  168.0  43.1  2.288   33  tested_positive
..    ...    ...   ...   ...    ...   ...    ...  ...              ...
763  10.0  101.0  76.0  48.0  180.0  32.9  0.171   63  tested_negative
764   2.0  122.0  70.0  27.0    NaN  36.8  0.340   27              NaN
765   5.0  121.0  72.0  23.0  112.0  26.2  0.245   30              NaN
766   1.0  126.0  60.0   NaN    NaN  30.1  0.349   47  tested_positive
767   1.0   93.0  70.0  31.0    NaN  30.4  0.315   23  tested_negative

[768 rows x 9 columns]

In [58]:
df.fillna(df.mean(numeric_only=True) , inplace=True)
df

,preg,plas,pres,skin,insu,mass,pedi,age,class
0,6.000000,148.0,72.0,35.00000,155.548223,33.6,0.627,50,tested_positive
1,1.000000,85.0,66.0,29.00000,155.548223,26.6,0.351,31,tested_negative
2,8.000000,183.0,64.0,29.15342,155.548223,23.3,0.672,32,tested_positive
3,1.000000,89.0,66.0,23.00000,94.000000,28.1,0.167,21,tested_negative
4,4.494673,137.0,40.0,35.00000,168.000000,43.1,2.288,33,tested_positive
...,...,...,...,...,...,...,...,...,...
763,10.000000,101.0,76.0,48.00000,180.000000,32.9,0.171,63,tested_negative
764,2.000000,122.0,70.0,27.00000,155.548223,36.8,0.340,27,NaN
765,5.000000,121.0,72.0,23.00000,112.000000,26.2,0.245,30,NaN
766,1.000000,126.0,60.0,29.15342,155.548223,30.1,0.349,47,tested_positive
767,1.000000,93.0,70.0,31.00000,155.548223,30.4,0.315,23,tested_negative

In [59]:
df["class"].fillna(df["class"].mode()[0] , inplace=True)
df

C:\Users\User\AppData\Local\Temp\ipykernel_26720\1492990128.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["class"].fillna(df["class"].mode()[0] , inplace=True)

,preg,plas,pres,skin,insu,mass,pedi,age,class
0,6.000000,148.0,72.0,35.00000,155.548223,33.6,0.627,50,tested_positive
1,1.000000,85.0,66.0,29.00000,155.548223,26.6,0.351,31,tested_negative
2,8.000000,183.0,64.0,29.15342,155.548223,23.3,0.672,32,tested_positive
3,1.000000,89.0,66.0,23.00000,94.000000,28.1,0.167,21,tested_negative
4,4.494673,137.0,40.0,35.00000,168.000000,43.1,2.288,33,tested_positive
...,...,...,...,...,...,...,...,...,...
763,10.000000,101.0,76.0,48.00000,180.000000,32.9,0.171,63,tested_negative
764,2.000000,122.0,70.0,27.00000,155.548223,36.8,0.340,27,tested_negative
765,5.000000,121.0,72.0,23.00000,112.000000,26.2,0.245,30,tested_negative
766,1.000000,126.0,60.0,29.15342,155.548223,30.1,0.349,47,tested_positive
767,1.000000,93.0,70.0,31.00000,155.548223,30.4,0.315,23,tested_negative

In [60]:
df["class"] = df["class"].replace({
    "tested_negative" : 0 ,
    "tested_positive": 1
})
df

C:\Users\User\AppData\Local\Temp\ipykernel_26720\4270713522.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["class"] = df["class"].replace({

          preg   plas  pres      skin        insu  mass   pedi  age  class
0     6.000000  148.0  72.0  35.00000  155.548223  33.6  0.627   50      1
1     1.000000   85.0  66.0  29.00000  155.548223  26.6  0.351   31      0
2     8.000000  183.0  64.0  29.15342  155.548223  23.3  0.672   32      1
3     1.000000   89.0  66.0  23.00000   94.000000  28.1  0.167   21      0
4     4.494673  137.0  40.0  35.00000  168.000000  43.1  2.288   33      1
..         ...    ...   ...       ...         ...   ...    ...  ...    ...
763  10.000000  101.0  76.0  48.00000  180.000000  32.9  0.171   63      0
764   2.000000  122.0  70.0  27.00000  155.548223  36.8  0.340   27      0
765   5.000000  121.0  72.0  23.00000  112.000000  26.2  0.245   30      0
766   1.000000  126.0  60.0  29.15342  155.548223  30.1  0.349   47      1
767   1.000000   93.0  70.0  31.00000  155.548223  30.4  0.315   23      0

[768 rows x 9 columns]

In [61]:
new_df = df[df.corr()["class"].drop("class").sort_values(ascending=False).head(4).keys()]
new_df

      plas  mass       preg  age
0    148.0  33.6   6.000000   50
1     85.0  26.6   1.000000   31
2    183.0  23.3   8.000000   32
3     89.0  28.1   1.000000   21
4    137.0  43.1   4.494673   33
..     ...   ...        ...  ...
763  101.0  32.9  10.000000   63
764  122.0  36.8   2.000000   27
765  121.0  26.2   5.000000   30
766  126.0  30.1   1.000000   47
767   93.0  30.4   1.000000   23

[768 rows x 4 columns]

In [103]:
from sklearn.model_selection import train_test_split
x_train, x_test , y_train , y_test = train_test_split(new_df , df["class"] , test_size=0.3 , random_state=0)
print(x_test.shape)
print(x_train.shape)
print(y_train.shape)
print(y_test.shape)

(231, 4)
(537, 4)
(537,)
(231,)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5)
model.fit(x_train , y_train)
model.score(x_test , y_test)

0.7705627705627706

In [78]:
lables = model.predict(new_df.loc[[2]])
print(lables)

[1]

In [ ]:
# หา test แถวที่ 3
test_sample = x_test.iloc[[3]]

# หา 5 neighbors ที่ใกล้ที่สุด
distance , indices = model.kneighbors(test_sample, n_neighbors=5)
print(distance)

# ตำแหน่งของ neighbors ใน training set
print(indices)

# indices[0] คือ list ของตำแหน่ง (index) training samples 5 ตัวที่ใกล้ที่สุด
nest_sample = x_train.iloc[indices[0]]
nest_sample

[[ 4.5         7.321885    8.17557337 10.24695077 10.27813213]]
[[ 70 455 407 269 144]]

      plas  mass  preg  age
749  162.0  24.3   6.0   50
660  162.0  27.7  10.0   54
670  165.0  33.6   6.0   49
708  164.0  32.8   9.0   45
702  168.0  35.0   1.0   52

In [98]:
from sklearn.model_selection import GridSearchCV
knn = KNeighborsClassifier()
parameter = {"n_neighbors":list(range(1,21))}
clf = GridSearchCV(knn ,parameter)
clf.fit(x_train , y_train)
clf.best_params_

{'n_neighbors': 16}

In [104]:
knn = KNeighborsClassifier(n_neighbors=16)
knn.fit(x_train , y_train)
knn.score(x_test , y_test)

0.7792207792207793

In [105]:
import pickle 
pickle.dump(knn , open("knn.pkl" , "wb"))

In [112]:
from sklearn.datasets import fetch_olivetti_faces
data_set = fetch_olivetti_faces()
print(data_set["data"].shape)
print(data_set.keys())

(400, 4096)
dict_keys(['data', 'images', 'target', 'DESCR'])

In [116]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(data_set["images"] , data_set["target"] , test_size=0.2 , random_state=0)
print(x_train.shape[0] , y_train.shape[0])
print(x_test.shape[0] , y_test.shape[0])

320 320
80 80

In [ ]:
from sklearn.neighbors import NearestCentroid
model1 = NearestCentroid()
# แปลงเป็น 2 มิติ 
# -1 ใน .reshape() ไม่ได้ระบุจำนวนคอลัมน์ที่แน่นอนครับ
x_train = x_train.reshape(x_train.shape[0] , -1)
model1.fit(x_train , y_train)

x_test = x_test.reshape(x_test.shape[0] , -1)
model1.score(x_test , y_test)

'''

a = np.arange(12)  # array 1D มีค่า 0-11
print("Original shape:", a.shape)  # (12,)

# reshape เป็น 3 แถว 4 คอลัมน์
b = a.reshape(3, 4)
print("Reshaped shape:", b.shape)  # (3, 4)
print(b)


# reshape เป็น 4 คอลัมน์ และให้ Python คำนวณจำนวนแถวเอง
c = a.reshape(-1, 4)
print("Reshaped with -1:", c.shape)  # (3, 4) เหมือนเดิม
print(c)

images = np.random.rand(10, 28, 28)  # shape (10, 28, 28)
print("Original images shape:", images.shape)

# reshape ให้เป็น 2D: 10 รูป, แต่ละรูปแปลงเป็น vector ยาว 784
images_reshaped = images.reshape(images.shape[0], -1)
print("Reshaped images shape:", images_reshaped.shape)  # (10, 784)

# reshape กลับเป็น 3D (10, 28, 28)
images_back = images_reshaped.reshape(10, 28, 28)
print("Back to original shape:", images_back.shape)

'''

0.9125