In [36]:
import pandas as pd
df = pd.read_excel("Stock.xlsx", index_col="Name")
df

                             Category  Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
ปากกา                 อุปกรณ์การเรียน    200       5
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
เสื้อยืดคอกลม                เสื้อผ้า    500       2
กางเกงยีนต์                  เสื้อผ้า    999       8
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
โซฟา                     เฟอร์นิเจอร์   5000       5
จาน                       เครื่องครัว    250       4
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7
ยางลบ                 อุปกรณ์การเรียน     20       5
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5
รถบังคับ                      ของเล่น    500       6

In [37]:
# สั่งให้เรียง index โดย default เรียงจากน้อยไปมาก

result = df.sort_index()
result

                             Category  Price  Amount
Name
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
กางเกงยีนต์                  เสื้อผ้า    999       8
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5
จาน                       เครื่องครัว    250       4
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7
ปากกา                 อุปกรณ์การเรียน    200       5
ยางลบ                 อุปกรณ์การเรียน     20       5
รถบังคับ                      ของเล่น    500       6
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
เสื้อยืดคอกลม                เสื้อผ้า    500       2
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
โซฟา                     เฟอร์นิเจอร์   5000       5
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1

In [38]:
# ถ้าเรียงจากมากไปน้อย df.sort_index(ascending=False)
# inplace = True ก็จะทำให้มัน save ทับ dataFrame
result2 = df.sort_index(ascending=False , inplace=True)
result2
df

                             Category  Price  Amount
Name
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1
โซฟา                     เฟอร์นิเจอร์   5000       5
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
เสื้อยืดคอกลม                เสื้อผ้า    500       2
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
รถบังคับ                      ของเล่น    500       6
ยางลบ                 อุปกรณ์การเรียน     20       5
ปากกา                 อุปกรณ์การเรียน    200       5
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
จาน                       เครื่องครัว    250       4
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5
กางเกงยีนต์                  เสื้อผ้า    999       8
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7

In [39]:
# เรียงตัว values
# โดย defaults จะเรียงจากน้อยไปมาก
result_sort = df.sort_values("Price")
result_sort

                             Category  Price  Amount
Name
ยางลบ                 อุปกรณ์การเรียน     20       5
ปากกา                 อุปกรณ์การเรียน    200       5
จาน                       เครื่องครัว    250       4
เสื้อยืดคอกลม                เสื้อผ้า    500       2
รถบังคับ                      ของเล่น    500       6
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
กางเกงยีนต์                  เสื้อผ้า    999       8
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
โซฟา                     เฟอร์นิเจอร์   5000       5
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7

In [40]:
# เรืยง values จากมากไปน้อย 
# แล้วถ้าอยากให้มัน save ทับลงไปใน dataFrame เลยก็ inplace = True
df.sort_values("Price" , ascending=False , inplace=True)
df

                             Category  Price  Amount
Name
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7
โซฟา                     เฟอร์นิเจอร์   5000       5
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
กางเกงยีนต์                  เสื้อผ้า    999       8
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1
เสื้อยืดคอกลม                เสื้อผ้า    500       2
รถบังคับ                      ของเล่น    500       6
จาน                       เครื่องครัว    250       4
ปากกา                 อุปกรณ์การเรียน    200       5
ยางลบ                 อุปกรณ์การเรียน     20       5

In [41]:
# เพิ่ม columns
df["delivery"] = 100
df

                             Category  Price  Amount  delivery
Name
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7       100
โซฟา                     เฟอร์นิเจอร์   5000       5       100
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0       100
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7       100
โคมไฟ                เครื่องใช้ในบ้าน   1200       7       100
กางเกงยีนต์                  เสื้อผ้า    999       8       100
ตุ๊กตาหมีพูห์                 ของเล่น    950       5       100
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10       100
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5       100
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1       100
เสื้อยืดคอกลม                เสื้อผ้า    500       2       100
รถบังคับ                      ของเล่น    500       6       100
จาน                       เครื่องครัว    250       4       100
ปากกา                 อุปกรณ์การเรียน    200       5       100
ยางลบ                 อุปกรณ์การเรียน     20       5       100

In [42]:
#  เพิ่ม columns โดย ใส่ values เป็นค่าของ 2 columns บวกกัน
df["total"] = df["Price"] + df["delivery"]
df

                             Category  Price  Amount  delivery  total
Name
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7       100  15100
โซฟา                     เฟอร์นิเจอร์   5000       5       100   5100
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0       100   3600
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7       100   2600
โคมไฟ                เครื่องใช้ในบ้าน   1200       7       100   1300
กางเกงยีนต์                  เสื้อผ้า    999       8       100   1099
ตุ๊กตาหมีพูห์                 ของเล่น    950       5       100   1050
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10       100   1000
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5       100    950
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1       100    850
เสื้อยืดคอกลม                เสื้อผ้า    500       2       100    600
รถบังคับ                      ของเล่น    500       6       100    600
จาน                       เครื่องครัว    250       4       100    350
ปากกา                 อุปกรณ์การเรียน    200       5       100    300
ยางลบ                 อุปกรณ์การเรียน     20       5       100    120

In [ ]:
# การเปลี่ยน ชื่อ column แค่ column เดียว
# ให้สร้าง dict โดย {"ชื่อเดิม" : "ชื่อใหม่"}
cols = {"Amount":"Quantity"}
# set ให้ inplace = True เพื่อเขียนทับลง dataFrame ไปเลย
df.rename(columns=cols , inplace=True)
df

                             Category  Price  Quantity  delivery  total
Name
ทีวี                  เครื่องใช้ไฟฟ้า  15000         7       100  15100
โซฟา                     เฟอร์นิเจอร์   5000         5       100   5100
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500         0       100   3600
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500         7       100   2600
โคมไฟ                เครื่องใช้ในบ้าน   1200         7       100   1300
กางเกงยีนต์                  เสื้อผ้า    999         8       100   1099
ตุ๊กตาหมีพูห์                 ของเล่น    950         5       100   1050
เมาส์              อุปกรณ์คอมพิวเตอร์    900        10       100   1000
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850         5       100    950
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750         1       100    850
เสื้อยืดคอกลม                เสื้อผ้า    500         2       100    600
รถบังคับ                      ของเล่น    500         6       100    600
จาน                       เครื่องครัว    250         4       100    350
ปากกา                 อุปกรณ์การเรียน    200         5       100    300
ยางลบ                 อุปกรณ์การเรียน     20         5       100    120

In [44]:
# ใช้ในการเปลี่ยนชื่อ columns หลายๆอันพร้อมกัน
cols = {"Category" : "Group" , "ffff":"Price" , "total":"summation"}
df.rename(columns=cols , inplace=True)
df

                                Group  Price  Quantity  delivery  summation
Name
ทีวี                  เครื่องใช้ไฟฟ้า  15000         7       100      15100
โซฟา                     เฟอร์นิเจอร์   5000         5       100       5100
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500         0       100       3600
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500         7       100       2600
โคมไฟ                เครื่องใช้ในบ้าน   1200         7       100       1300
กางเกงยีนต์                  เสื้อผ้า    999         8       100       1099
ตุ๊กตาหมีพูห์                 ของเล่น    950         5       100       1050
เมาส์              อุปกรณ์คอมพิวเตอร์    900        10       100       1000
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850         5       100        950
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750         1       100        850
เสื้อยืดคอกลม                เสื้อผ้า    500         2       100        600
รถบังคับ                      ของเล่น    500         6       100        600
จาน                       เครื่องครัว    250         4       100        350
ปากกา                 อุปกรณ์การเรียน    200         5       100        300
ยางลบ                 อุปกรณ์การเรียน     20         5       100        120

In [45]:
# การลบ columns โดยมันจะลบแต่ไม่ save ทับลง dataFrame ไม่ได้ลบ ถาวร
# axis = 1 => columns
# axis = 0 => row ตาม index ที่ระบุ
df.drop("delivery" , axis=1)

                                Group  Price  Quantity  summation
Name
ทีวี                  เครื่องใช้ไฟฟ้า  15000         7      15100
โซฟา                     เฟอร์นิเจอร์   5000         5       5100
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500         0       3600
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500         7       2600
โคมไฟ                เครื่องใช้ในบ้าน   1200         7       1300
กางเกงยีนต์                  เสื้อผ้า    999         8       1099
ตุ๊กตาหมีพูห์                 ของเล่น    950         5       1050
เมาส์              อุปกรณ์คอมพิวเตอร์    900        10       1000
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850         5        950
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750         1        850
เสื้อยืดคอกลม                เสื้อผ้า    500         2        600
รถบังคับ                      ของเล่น    500         6        600
จาน                       เครื่องครัว    250         4        350
ปากกา                 อุปกรณ์การเรียน    200         5        300
ยางลบ                 อุปกรณ์การเรียน     20         5        120

In [46]:
# ลบ columns แบบ ถาวร save ทับลงไปใน dataFrame
df.drop("delivery" , axis=1 , inplace=True)
df

                                Group  Price  Quantity  summation
Name
ทีวี                  เครื่องใช้ไฟฟ้า  15000         7      15100
โซฟา                     เฟอร์นิเจอร์   5000         5       5100
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500         0       3600
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500         7       2600
โคมไฟ                เครื่องใช้ในบ้าน   1200         7       1300
กางเกงยีนต์                  เสื้อผ้า    999         8       1099
ตุ๊กตาหมีพูห์                 ของเล่น    950         5       1050
เมาส์              อุปกรณ์คอมพิวเตอร์    900        10       1000
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850         5        950
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750         1        850
เสื้อยืดคอกลม                เสื้อผ้า    500         2        600
รถบังคับ                      ของเล่น    500         6        600
จาน                       เครื่องครัว    250         4        350
ปากกา                 อุปกรณ์การเรียน    200         5        300
ยางลบ                 อุปกรณ์การเรียน     20         5        120

In [49]:
# เพิ่มแถวใหม่
products = [["หูฟัง" , "อุปกรณ์คอมพิวเตอร์" , 400 , 20 , 500] , 
            ["สายชารจ์" , "อุปกรณ์คอมพิวเตอร์" , 1400 , 120 , 1500]]
cols = ["Name" , "Group" , "Price" , "Quantity", "summation"] # อ้างอิงชื่อ column
newdf = pd.DataFrame(data=products , columns=cols)
newdf

       Name               Group  Price  Quantity  summation
0     หูฟัง  อุปกรณ์คอมพิวเตอร์    400        20        500
1  สายชารจ์  อุปกรณ์คอมพิวเตอร์   1400       120       1500

In [ ]:
# setindex ใหม่
newdf.set_index("Name" , inplace=True)

In [ ]:
# ใช้ในการ รวม dataFrame เข้าด้วยกัน
df = pd.concat([df , newdf])
df

                                Group  Price  Quantity  summation
Name
ทีวี                  เครื่องใช้ไฟฟ้า  15000         7      15100
โซฟา                     เฟอร์นิเจอร์   5000         5       5100
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500         0       3600
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500         7       2600
โคมไฟ                เครื่องใช้ในบ้าน   1200         7       1300
กางเกงยีนต์                  เสื้อผ้า    999         8       1099
ตุ๊กตาหมีพูห์                 ของเล่น    950         5       1050
เมาส์              อุปกรณ์คอมพิวเตอร์    900        10       1000
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850         5        950
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750         1        850
เสื้อยืดคอกลม                เสื้อผ้า    500         2        600
รถบังคับ                      ของเล่น    500         6        600
จาน                       เครื่องครัว    250         4        350
ปากกา                 อุปกรณ์การเรียน    200         5        300
ยางลบ                 อุปกรณ์การเรียน     20         5        120
หูฟัง              อุปกรณ์คอมพิวเตอร์    400        20        500
สายชารจ์           อุปกรณ์คอมพิวเตอร์   1400       120       1500

In [56]:
df = pd.read_excel("Stock.xlsx")
df

                 Name            Category  Price  Amount
0               เมาส์  อุปกรณ์คอมพิวเตอร์    900      10
1               ปากกา     อุปกรณ์การเรียน    200       5
2               โคมไฟ    เครื่องใช้ในบ้าน   1200       7
3            ไมโครโฟน     เครื่องใช้ไฟฟ้า    750       1
4       เครื่องซักผ้า     เครื่องใช้ไฟฟ้า   3500       0
5       เสื้อยืดคอกลม            เสื้อผ้า    500       2
6         กางเกงยีนต์            เสื้อผ้า    999       8
7       ตุ๊กตาหมีพูห์             ของเล่น    950       5
8                โซฟา        เฟอร์นิเจอร์   5000       5
9                 จาน         เครื่องครัว    250       4
10               ทีวี     เครื่องใช้ไฟฟ้า  15000       7
11              ยางลบ     อุปกรณ์การเรียน     20       5
12  External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
13          คีย์บอร์ด  อุปกรณ์คอมพิวเตอร์    850       5
14           รถบังคับ             ของเล่น    500       6

In [57]:
# ลบแถว
rows = 9
# สั่งในลบแถวที่ 9 และ ให้ save ทับ
df.drop(rows , axis=0 , inplace=True)
df

                 Name            Category  Price  Amount
0               เมาส์  อุปกรณ์คอมพิวเตอร์    900      10
1               ปากกา     อุปกรณ์การเรียน    200       5
2               โคมไฟ    เครื่องใช้ในบ้าน   1200       7
3            ไมโครโฟน     เครื่องใช้ไฟฟ้า    750       1
4       เครื่องซักผ้า     เครื่องใช้ไฟฟ้า   3500       0
5       เสื้อยืดคอกลม            เสื้อผ้า    500       2
6         กางเกงยีนต์            เสื้อผ้า    999       8
7       ตุ๊กตาหมีพูห์             ของเล่น    950       5
8                โซฟา        เฟอร์นิเจอร์   5000       5
10               ทีวี     เครื่องใช้ไฟฟ้า  15000       7
11              ยางลบ     อุปกรณ์การเรียน     20       5
12  External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
13          คีย์บอร์ด  อุปกรณ์คอมพิวเตอร์    850       5
14           รถบังคับ             ของเล่น    500       6

In [58]:
# สั่งให้ลบหลายแถวในครั้งเดียว
rows = [0,3,10]
df.drop(rows , axis=0 , inplace=True)
df

                 Name            Category  Price  Amount
1               ปากกา     อุปกรณ์การเรียน    200       5
2               โคมไฟ    เครื่องใช้ในบ้าน   1200       7
4       เครื่องซักผ้า     เครื่องใช้ไฟฟ้า   3500       0
5       เสื้อยืดคอกลม            เสื้อผ้า    500       2
6         กางเกงยีนต์            เสื้อผ้า    999       8
7       ตุ๊กตาหมีพูห์             ของเล่น    950       5
8                โซฟา        เฟอร์นิเจอร์   5000       5
11              ยางลบ     อุปกรณ์การเรียน     20       5
12  External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
13          คีย์บอร์ด  อุปกรณ์คอมพิวเตอร์    850       5
14           รถบังคับ             ของเล่น    500       6

In [59]:
# สั่งให้ index คือ Columns Name
df = pd.read_excel("Stock.xlsx" , index_col="Name")
df

                             Category  Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
ปากกา                 อุปกรณ์การเรียน    200       5
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
เสื้อยืดคอกลม                เสื้อผ้า    500       2
กางเกงยีนต์                  เสื้อผ้า    999       8
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
โซฟา                     เฟอร์นิเจอร์   5000       5
จาน                       เครื่องครัว    250       4
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7
ยางลบ                 อุปกรณ์การเรียน     20       5
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5
รถบังคับ                      ของเล่น    500       6

In [ ]:
# ลบตัว index แบบข้อความ
row = "ทีวี"
df.drop(row , axis=0 , inplace=True)
df

                             Category  Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
ปากกา                 อุปกรณ์การเรียน    200       5
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
เสื้อยืดคอกลม                เสื้อผ้า    500       2
กางเกงยีนต์                  เสื้อผ้า    999       8
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
โซฟา                     เฟอร์นิเจอร์   5000       5
จาน                       เครื่องครัว    250       4
ยางลบ                 อุปกรณ์การเรียน     20       5
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5
รถบังคับ                      ของเล่น    500       6

In [ ]:
# สั่งให้ลบ หลายแถวในที่เดียว
row = ["จาน" , "ยางลบ" , "รถบังคับ"]
df.drop(row , axis=0 , inplace=True)
df

                             Category  Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
ปากกา                 อุปกรณ์การเรียน    200       5
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
เสื้อยืดคอกลม                เสื้อผ้า    500       2
กางเกงยีนต์                  เสื้อผ้า    999       8
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
โซฟา                     เฟอร์นิเจอร์   5000       5
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5

In [ ]:
# รวมจากบนลงล่าง ค่าเริ่มต้น axis = 0
df.sum()
# df.sum(axis=0) เหมือนกัน

Category    อุปกรณ์คอมพิวเตอร์อุปกรณ์การเรียนเครื่องใช้ในบ...
Price                                                   17349
Amount                                                     55
dtype: object

In [ ]:
# คำนวณจากซ้ายไปขวา แล้วบังคับให้เป็นเลขเท่านั้น 
df.sum(axis=1 , numeric_only=True)

Name
เมาส์                 910
ปากกา                 205
โคมไฟ                1207
ไมโครโฟน              751
เครื่องซักผ้า        3500
เสื้อยืดคอกลม         502
กางเกงยีนต์          1007
ตุ๊กตาหมีพูห์         955
โซฟา                 5005
External HardDisk    2507
คีย์บอร์ด             855
dtype: int64